<div class="content">
    <div class="photo"></div>
    <div class="menu">
        <span class="menu-item">California</span>
        <span class="menu-item">California</span>
        <span class="menu-item">California</span>
        <span class="menu-item">California</span>
        <span class="menu-item">California</span>
    </div>
    
    <div class="list">
        <h3 class="header">Righteous indignation & like</h3>
        <span class="line"></span>
        <div class="items">
            <div class="item">
                <div class="address">
                    <b>Adddress:</b>
                    <span>236 Flatlands Avenue, Eden, Missouri, 7837</span>
                </div>
                <div class="photoes">
                    <img src="https://potre.github.io/hot-weather-widget/assets/images/2/n20.jpeg" alt="">
                    <img src="https://potre.github.io/hot-weather-widget/assets/images/2/n20.jpeg" alt="">
                </div>
                <div style="clear: both; height: 8px;"></div>
                <span>Tel: +48 (437) 222-14-03</span>
            </div>
            <div class="item">
                <div class="address">
                    <b>Adddress:</b>
                    <span>236 Flatlands Avenue, Eden, Missouri, 7837</span>
                </div>
                <div class="photoes">
                    <img src="https://potre.github.io/hot-weather-widget/assets/images/2/n20.jpeg" alt="">
                    <img src="https://potre.github.io/hot-weather-widget/assets/images/2/n20.jpeg" alt="">
                </div>
                <div style="clear: both; height: 8px;"></div>
                <span>Tel: +48 (437) 222-14-03</span>
            </div>
            
        </div>
    </div>
</div>
