<div class="content" *ngIf="items.length && currentItem">
    <div class="photo" [ngStyle]="{'background-image':'url('+currentItem.img+')'}"></div>
    <div class="menu">
        <span (click)="chooseType(h)" class="menu-item" *ngFor="let h of headers">{{h}}</span>
    </div>
    
    <div class="list">
        <h3 class="header">Righteous indignation & like</h3>
        <span class="line"></span>
        <div class="items">
            <div class="item" (click)="chooseCurrentItem(item.id)" *ngFor="let item of currentItems">
                <div class="address">
                    <b>Address:</b>
                    <span>{{item.address}}</span>
                </div>
                <div class="photoes">
                    <img [src]="item.img" alt="">
                    <img [src]="item.social_info.img" alt="">
                </div>
                <div style="clear: both; height: 8px;"></div>
                <span>Tel: {{item.phone}}</span>
            </div>
            
        </div>
    </div>
</div>
